/*  */
:root {
  /* colors */
  --color-primary: #001c30;
  --color-blue-dark: #00365c;
  --color-black: #2c3333;
  --color-secondary: #b6bbc4;
  --color-grey: #f5f7f8;
  --color-white: #ffffff;
  --color-red: #d83f31;
  --color-orange: #ee9322;
  --color-yellow: #f4ce14;
  --color-blue: #00a9ff;
  --color-green: #a8df8e;
  --color-purple: #d0a2f7;
  --color-text: #8e96a4;
}

/* ------ Typography ------ */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--color-grey);
}
nav p,
footer p {
  margin: 16px 0;
}
/* ------ Navbar Styling -------*/

.nav_info {
  background-color: var(--color-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}
.nav_info_phone {
  display: flex;
  gap: 5px;
}
.nav_info_offer {
  text-align: center;
  font-weight: 500;
}
.nav_info_settings {
  display: flex;
  align-items: center;
  gap: 25px;
}
.nav_info_settings div {
  display: flex;
  gap: 3px;
}
.nav_menu {
  background-color: var(--color-primary);
}
.nav_header {
  background-color: var(--color-white);
}
.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7%;
}
.nav_menu_allcategory {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--color-yellow);
  font-weight: 700;
  padding: 15px;
}
.nav_menu_pages ul {
  display: flex;
  gap: 30px;
}
.nav_menu_pages li {
  list-style-type: none;
}
.nav_menu_pages_style {
  color: var(--color-white);
  text-decoration: inherit;
  font-weight: 700;
}
.nav_menu_pages_select {
  background-color: var(--color-yellow);
  color: var(--color-black);
  padding: 10px;
  border-radius: 25px;
}
.nav_menu_icons {
  display: flex;
  gap: 20px;
}
.nav_menu_icons_waitinglist,
.nav_menu_icons_chekout,
.nav_menu_icons_profile {
  padding: 6px 6px 4px;
}
.nav_menu_icons_select {
  background-color: var(--color-blue-dark);
  padding: 6px 6px 4px;
  border-radius: 12px;
}
.nav_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 7%;
  height: 60px;
}
.nav_header_searchbar {
  width: calc(60vw - 50px);
  height: 15px;
  background-color: var(--color-grey);
  border-radius: 25px;
  border: solid var(--color-secondary) 1px;
  padding: 13px;
  font-weight: 700;
}
.nav_header_button {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 13px;
  border-radius: 25px;
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
}
@media only screen and (max-width: 1000px) {
  .nav_info_settings {
    display: none;
  }
  .nav_header {
    padding-left: 3%;
    padding-right: 3%;
  }
  .nav_header_searchbar {
    width: calc(60vw - 90px);
  }
}
@media only screen and (max-width: 800px) {
  .nav_info_phone {
    display: none;
  }
  .nav_menu_icons {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .nav_menu {
    padding-left: 3%;
    padding-right: 3%;
  }
  .nav_menu span {
    display: none;
  }

  .nav_menu_pages ul {
    gap: 15px;
    padding-left: 10px;
  }
  .nav_header {
    padding-left: 1%;
    padding-right: 1%;
    justify-content: space-around;
  }
  .nav_header_searchbar {
    width: calc(40vw - 50px);
  }
  .nav_header_button {
    font-size: 0;
  }
}

/* ------ footer Styling -------*/

footer {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 3rem 7rem;
}
footer a {
  text-decoration: inherit;
  color: var(--color-white);
}
footer a:hover {
  text-decoration: inherit;
  color: var(--color-orange);
}
.footer_main {
  display: flex;
  justify-content: space-between;
}

.footer_main ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer_main li {
  list-style-type: none;
}

.footer_main_info {
  max-width: 300px;
}

.footer_main_info_socialmedia {
  display: flex;
  gap: 15px;
}
.footer_copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 1000px) {
  .footer_main_info {
    max-width: 200px;
  }
}
@media only screen and (max-width: 800px) {
  .footer_main {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  footer {
    padding: 15px;
  }
  .footer_main_info_socialmedia {
    justify-content: center;
  }
}
