.content_product,
.content_promodeals {
  margin: 2rem 7rem;
}
h4 {
  margin: 15px 0 10px;
}
.content_product {
  display: flex;
  gap: 3rem;
}
.content_product_filter {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.content_product_filter h5 {
  padding: 15px 20px;
  margin: 0;
  border: solid;
  border-color: var(--color-text);
  border-width: 0 0 1.5px;
}
.content_product_filter_categories {
  background-color: var(--color-white);
}
.content_product_filter_categories ul {
  padding: 0;
  margin: 0;
}
.content_product_filter_categories li {
  padding: 11px 20px;
  list-style-type: none;
}
.content_product_filter_categories a {
  text-decoration: none;
  color: var(--color-text);
}
.content_product_filter_brand div {
  padding: 11px 5px;
  color: var(--color-text);
}
.content_product_filter_price {
  position: relative;
}
.content_product_filter_price input {
  width: 50px;
  position: absolute;
  right: 0;
}
.content_product_filter_price label,
.content_product_filter_price p {
  color: var(--color-text);
}
.content_product_filter_warrenty div {
  padding: 11px 5px;
}
.content_product_filter_button {
  background-color: var(--color-yellow);
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
}
.content_product_filter_banar {
  margin-top: 20px;
  background-color: var(--color-secondary);
  height: 200px;
  border-radius: 10px;
  position: relative;
}
.content_product_filter_banar::after {
  content: "Banar";
  position: absolute;
  top: 40%;
  left: calc(50% - 25px);
}
@media only screen and (max-width: 600px) {
  .content_product {
    flex-direction: column;
    gap: 0;
    margin: 20px;
  }
  .content_product_filter {
    display: none;
  }
  .content_product_filter_mobile {
    display: flex;
    justify-content: end;
  }
  .content_product_filter_mobile button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

.content_product_allproduct_body {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product_card {
  width: 210px;
  background-color: var(--color-white);
  border-radius: 20px;
  padding: 20px;
}
.product_card h5,
.product_card p {
  margin: 5px 0;
}
.product_card p {
  color: var(--color-text);
}
.product_card_imag {
  width: 100%;
  height: 200px;
  background-color: var(--color-secondary);

  border-radius: 20px;
}

.product_card_sell {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product_card_sell_price {
  color: var(--color-orange);
  font-weight: 700;
}
.product_card_sell a {
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 10px 20px;
  border-radius: 25px;
}

.content_product_allproduct_pageslist {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 10px;
  color: var(--color-text);
}
.content_product_allproduct_pageslist ul {
  margin: 0;
}
.allproduct_pageslist {
  border: solid 1px var(--color-text);
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 13px 10px 7px;
}
.pageslist_select {
  background-color: var(--color-secondary);
  color: var(--color-black);
  font-weight: 700;
  border: solid 2px var(--color-primary);
}
.content_promodeals_list {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
