.product_card {
  width: 210px;
  background-color: var(--color-white);
  border-radius: 20px;
  padding: 20px;
  position: relative;
}
.product_card_stars {
  position: absolute;
  background-color: var(--color-white);
  padding: 2px 5px;
  border-radius: 12px;
  left: 30px;
  top: 30px;
}
.product_card_heart {
  position: absolute;
  background-color: var(--color-white);
  width: 18px;
  height: 18px;
  padding: 5px;
  border-radius: 12px;
  right: 30px;
  top: 30px;
}

.product_card h5,
.product_card p {
  margin: 5px 0;
}
.product_card p {
  color: var(--color-text);
}
.product_card_imag {
  width: 100%;
  height: 200px;
  background-color: var(--color-secondary);

  border-radius: 20px;
}

.product_card_sell {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product_card_sell_price {
  color: var(--color-orange);
  font-weight: 700;
}
.product_card_sell a {
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 10px 20px;
  border-radius: 25px;
}
.product_card_title a {
  text-decoration: none;
  color: var(--color-black);
}

.content_popular {
  margin: 2rem 2rem auto 5rem;
}
.content_popular_list {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
.content_popular_title {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  align-items: center;
}
.content_popular_title a {
  text-decoration: inherit;
  color: var(--color-black);
}
.content_popular_title_viewall svg {
  padding-left: 9px;
  padding-bottom: 2px;
}
.content_popular_title_viewall::after {
  content: "";
}

/* cart section */
.pagetitle {
  text-align: center;
}

.cart_progres {
  display: flex;
  justify-content: center;
}
.cart_progres_step {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 0 40px 20px;
  border: solid;
  border-width: 0 0 2px;
  border-color: var(--color-text);
}
.cart_progres_step_selected {
  border-color: var(--color-orange);
}
.cart_progres_step_name h4,
.cart_progres_step_name p {
  margin: 0;
}
.cart_progres_step_namber {
  border: solid 1px var(--color-text);
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 13px 10px 7px;
  font-weight: 700;
}
.cart_details,
.cart_total {
  background-color: var(--color-white);
  border-radius: 25px;
  padding: 0 20px;
}

.cart {
  display: grid;
  grid-template-columns: 1.8fr 0.7fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 10px 20px;
  grid-auto-flow: row;
  grid-template-areas: "cart_details cart_total";
  padding: 0 12rem;
  margin-top: 20px;
  align-items: start;
}

.cart h4 {
  margin: 20px 0;
}
.cart_details {
  grid-area: cart_details;
  font-weight: 700;
}

.cart_total {
  grid-area: cart_total;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 10px;
}

.cart_total hr {
  width: 100%;
}
.cart_total_element {
  display: flex;
  justify-content: space-between;
  margin: 3px 0;
}
.cart_total_button {
  background-color: var(--color-yellow);
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-weight: 700;
  font-size: 18px;
  margin: 10px 0;
  text-decoration: none;
  color: var(--color-black);
  text-align: center;
}
.cart_details_top {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "cart_details_top_name cart_details_top_price cart_details_top_qty cart_details_top_subtitle .";
}

.cart_details_top_name {
  grid-area: cart_details_top_name;
}

.cart_details_top_price {
  grid-area: cart_details_top_price;
}

.cart_details_top_qty {
  grid-area: cart_details_top_qty;
}

.cart_details_top_subtitle {
  grid-area: cart_details_top_subtitle;
}

.cart_details_main {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "cart_details_main_product cart_details_main_price cart_details_main_qty cart_details_main_subtitle cart_details_main_trash";
  align-items: center;
  margin: 20px 0;
}
.cart_details_main p {
  margin: 0;
}
.cart_details_main_product {
  grid-area: cart_details_main_product;
  display: flex;
  gap: 5px;
}
.cart_details_main_product_img {
  width: 70px;
  height: 70px;
  background-color: var(--color-secondary);
  border-radius: 12px;
}
.cart_details_main_price {
  grid-area: cart_details_main_price;
  color: var(--color-green);
}

.cart_details_main_qty {
  grid-area: cart_details_main_qty;
}

.cart_details_main_subtitle {
  grid-area: cart_details_main_subtitle;
}

.cart_details_main_trash {
  grid-area: cart_details_main_trash;
}

/* .cart_details hr {
  margin: 0 0 20px;
} */
@media only screen and (max-width: 1050px) {
  .cart_progres_step {
    padding: 0 5px 20px;
    gap: 5px;
  }
  .cart {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 950px) {
  .product_card {
    width: 180px;
  }
  .content_popular_title {
    padding: 0 3rem;
  }
  .cart {
    gap: 5px;
    padding: 0 20px;
  }
}
@media only screen and (max-width: 600px) {
  .product_card {
    width: 250px;
  }
  .content_popular_title {
    padding: 0;
    flex-direction: column;
    width: 500;
  }
  .content_popular_title h4 {
    font-size: 21px;
    margin: 5px;
  }
  .cart_progres h4 {
    font-size: 18px;
  }
  .cart_progres p {
    font-size: 12px;
  }
  .cart {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 0px;
    grid-template-areas:
      "cart_details"
      "cart_total";
  }
  .cart h4 {
    margin: 5px 0;
    font-size: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .cart_progres_step_name {
    display: none;
  }
}
